# TMDB Credentials (v3 API key or v4 Read Access Token)
# Get one from: https://www.themoviedb.org/settings/api
VITE_TMDB_API_KEY=your_tmdb_api_key_here

# Streaming Player URL Engines
VITE_STREAM_MOVIE_URL=https://vidsrc.to/embed/movie/{id}
VITE_STREAM_TV_URL=https://vidsrc.to/embed/tv/{id}/{season}/{episode}

# Firebase Web Config keys (For user auth and cloud synchronization)
# Get these parameters from your Firebase console -> Project Settings -> General -> Web Apps
VITE_FIREBASE_API_KEY=your_firebase_api_key
VITE_FIREBASE_AUTH_DOMAIN=your_project_id.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=your_project_id
VITE_FIREBASE_STORAGE_BUCKET=your_project_id.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id
VITE_FIREBASE_APP_ID=your_app_id
